<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "CloudReach Contacts", root_path, id: "logo", :class => "navbar-brand" %>
      </div>
    </div>
  </div>
</header>